.logo-img {
  height: 80px;   /* adjust size */
  width: auto;
  object-fit: contain;
}


.hero
{
    font-family: "sora", sans-serif;
  
}

.cattext{
  text-decoration: none;
  font-weight: 1000;
  color: #1e40af;

}

