.logo-img {
  height: 80px;   /* adjust size */
  width: auto;
  object-fit: contain;
}


.hero
{
    font-family: "sora", sans-serif;
  
}

.cattext{
  text-decoration: none;
  font-weight: 1000;
  color: #1e40af;
  font-size: large;

}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.page-container {
  padding-top: 130px; /* equal or more than navbar height */
}

