.card {
    width: 950px;
    margin-left: auto;  /* pushes container to the right */
    margin-right: 10px;
    /* optional: fix the height to prevent card from growing too much */
    /* height: 250px; */
}

.title-text {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

/* Clamp paragraph to 2 lines */
.card-body p {
    display: -webkit-box;        /* creates a flexible box */
    -webkit-line-clamp: 2;       /* number of lines to show */
    -webkit-box-orient: vertical; 
    overflow: hidden;            /* hide overflowing text */
    text-overflow: clip;         /* don't show ellipsis */
    text-align: left;
    
}
