.hero
{
    font-family: "sora", sans-serif;
}

.card{
    margin: 10px;
    border-radius: 10px;
}

.card-img-top{
    border-radius: 15px;
    width: 110%;
    margin-right: 10px;
}

.title-text{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}
.title-info{
    font-size: 13px;
    text-align: left;
}
.readbtn{
    margin-top: 10px;
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.readbtn:hover{
    background-color: #0056b3;
}